/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor & Dan Piscitiello
Contributors: N/A

Target Browsers: IE8, IE9, Safari 6, Chrome 22, Firefox 15
Media Type: Screen
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

/* Don't let iOS and WinMobile mobile-optimize text for you */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Reset Form Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: normal 11px/1.45 "proxima-nova", Helvetica, Arial, sans-serif;
    color: #000000;
    background: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
    -webkit-transition: color .12s linear;
    -moz-transition:    color .12s linear;
    -ms-transition:     color .12s linear;
    -o-transition:      color .12s linear;
    transition:         color .12s linear;
}

a:hover,
a:focus {
    color: #e15119;
}

img {
    max-width: 100%;
}

/* ---------------------------------------------------------------------
 Utility Mixins
------------------------------------------------------------------------ */
.isHidden {
    position: absolute;
    left: -9999px;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.logo a {
    display: block;
    width: 130px;
    height: 66px;
    padding: 0 10px;
}

.quickSearch {
    margin-bottom: 16px;
}

/* ---------------------------------------------------------------------
 Main Navigation
------------------------------------------------------------------------ */
.nav {
    overflow: hidden;
    position: relative;
}

.nav > li {
    margin-bottom: 8px;
}

.nav_split > li {
    float: left;
    width: 50%; /* equal split columns for legacy browsers */
}

/* unequal split for browsers capable of nth-child expressions */
.nav_split > li:nth-child(2n+1) { width: 149px; }
.nav_split > li:nth-child(2n+2) { width: 82px; }

.nav > li > a {
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
    margin: 0 auto;
    width: 970px;
}

.wrapper_page {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */
.gridRow {
    overflow: hidden;
    position: relative;
}

.gridRow-col {
    float: left;
    position: relative;
}

.gridRow-col + .gridRow-col {
    margin-left: 1.443299%;
}

.gridRow-col_size1of4 { width: 23.917526%; }
.gridRow-col_size2of4 { width: 49.278351%; }
.gridRow-col_size3of4 { width: 74.63975%; }
.gridRow-col_size4of4 { width: 100%; }

.gridRow-col_prefix1of4 { margin-left: 23.917526%; }
.gridRow-col_prefix2of4 { margin-left: 49.278351%; }
.gridRow-col_prefix3of4 { margin-left: 74.63975%; }
.gridRow-col_prefix4of4 { margin-left: 100%; }

.gridRow-col_suffix1of4 { margin-right: 23.917526%; }
.gridRow-col_suffix2of4 { margin-right: 49.278351%; }
.gridRow-col_suffix3of4 { margin-right: 74.63975%; }
.gridRow-col_suffix4of4 { margin-right: 100%; }

.gridRow-col_push1of4 { left: 25.360825%; }
.gridRow-col_push2of4 { left: 50.72165%; }
.gridRow-col_push3of4 { left: 76.083049%; }
.gridRow-col_push4of4 { left: 100%; }

.gridRow-col_pull1of4 { left: -25.360825%; }
.gridRow-col_pull2of4 { left: -50.72165%; }
.gridRow-col_pull3of4 { left: -76.083049%; }
.gridRow-col_pull4of4 { left: -100%; }

/* ---------------------------------------------------------------------
 Horizontal Lists
------------------------------------------------------------------------ */
.hList {
    overflow: hidden;
}

.hList > * {
    float: left;
}

.hList_social > * + * {
    margin-left: 16px;
}

.hList_social a {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: none;
}

/* ---------------------------------------------------------------------
 Panel
------------------------------------------------------------------------ */
.panel {
    border-top: 1px solid #000000;
    padding: 25px 0;
}

/* ---------------------------------------------------------------------
 Icons
------------------------------------------------------------------------ */
.icn {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../images/icon-sprite.png);
}

.icn_email { background-position: 0 0 ;}
.icn_facebook { background-position: -27px 0;}
.icn_twitter { background-position: -54px 0 ;}
.icn_instagram { background-position: -81px 0 ;}
.icn_8tracks { background-position: -108px 0 ;}

/* ---------------------------------------------------------------------
 Form Styles
------------------------------------------------------------------------ */
.input {
    background: #e6e7e8;
    border: 0;
    margin: 0;
    padding: 6px 6px;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,.3);
}

:-moz-placeholder {  
   color: rgba(0,0,0,.3);  
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hdg {
    
}

.hdg_bold {
    font-weight: 800;
}

.hdg_cap {
    text-transform: uppercase;
}

.hdg_1 { font-size: 24px; }
.hdg_2 { font-size: 20px; }
.hdg_3 { font-size: 16px; }
.hdg_4 { font-size: 12px; }

/* ---------------------------------------------------------------------
 Media Object
------------------------------------------------------------------------ */
.media {
    overflow: hidden;
}

.media-element {
    float: left;
    margin-right: 16px;
}

.media-element img {
    display: block;
}

.media-bd {
    overflow: hidden;
}