/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor & Dan Piscitiello
Contributors: N/A

Target Browsers: IE8, IE9, Safari 6, Chrome 22, Firefox 15
Media Type: Screen
Width: 36em and up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav_split > li + li {
    margin-left: 12%;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks {
    overflow: hidden;
    position: relative;
    margin-left: -1%;
}

.blocks > * {
    float: left;
    margin-bottom: 0;
    margin-left: 1%;
}

.blocks_2up > * { width: 49%; }
.blocks_3up > * { width: 32.333333%; }
.blocks_4up > * { width: 24%; }
.blocks_5up > * { width: 19%; }

/* ---------------------------------------------------------------------
 Comments
------------------------------------------------------------------------ */
.comment { width: 60%; }

/* ---------------------------------------------------------------------
 Comment Form
------------------------------------------------------------------------ */
.form-comment { width: 60%; }

/* ---------------------------------------------------------------------
 Social Footer Module
------------------------------------------------------------------------ */
.socialFooter {
    overflow: hidden;
    margin-left: -1%;
}

.socialFooter-links > * {
    float: left;
    margin-bottom: 0;
    width: 32.333333%;
    margin-left: 1%;
}