/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor & Dan Piscitiello
Contributors: N/A

Target Browsers: IE8, IE9, Safari 6, Chrome 22, Firefox 15
Media Type: Screen
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

/* Don't let iOS and WinMobile mobile-optimize text for you */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Reset Form Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: 500 12px/1.6 "proxima-nova", Helvetica, Arial, sans-serif;
    color: #000000;
    background: #efedea;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .12s linear, background .12s linear;
    -moz-transition:    color .12s linear, background .12s linear;
    -ms-transition:     color .12s linear, background .12s linear;
    -o-transition:      color .12s linear, background .12s linear;
    transition:         color .12s linear, background .12s linear;
}

/* styles for hover of global anchor & wordpress assigned classes
for "active states" */
a:hover,
a:focus,
.isActive > a,
.current-cat > a {
    color: #e15119;
}

img {
    max-width: 100%;
}

/* ---------------------------------------------------------------------
 Utility Mixins
------------------------------------------------------------------------ */
.isHidden {
    position: absolute;
    left: -9999px;
}

.isLargeView {
    display: none;
}

.linkBlock {
    display: block;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.logo {
    text-align: center;
    padding-top: 4px;
}

.logo a {
    display: inline-block;
    width: 220px;
}

.quickSearch {
    margin-top: 16px;
}

.viewToggle {
    padding-top: 55px;
}

.viewToggle p {
    font-size: 10px;
    line-height: 33px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Main Navigation
------------------------------------------------------------------------ */
.nav {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.nav_split > li {
    display: inline-block;
}

.nav_split > li.isLargeView {
    display: none;
}

.nav_split > li + li {
    margin-left: 12%;
}

.nav > li > a {
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 970px;
}

.wrapper_page {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks > * {
    margin-bottom: 8px;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks_splitMobile {
    overflow: hidden;
    position: relative;
    margin-left: -4%;
}

.blocks_splitMobile > * {
    float: left;
    margin-bottom: 0;
    margin-left: 3%;
    width: 47%;
}

/* ---------------------------------------------------------------------
 Yin and Yang
------------------------------------------------------------------------ */
.yinAndYang {
    overflow: hidden;
}

.yinAndYang-yin {
    float: left;
}

.yinAndYang-yang {
    float: right;
}
/* ---------------------------------------------------------------------
 Horizontal Lists
------------------------------------------------------------------------ */
.hList {
    overflow: hidden;
}

.hList > * {
    float: left;
}

.hList_social > * {
    width: 16.6666%
}

.hList_social a {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: none;
}

.hList_spread > * + *{
    margin-left: 10px;
}

/* ---------------------------------------------------------------------
 Vertical Lists
------------------------------------------------------------------------ */
.vList {
    display: block;
}

.vList_push {
    margin-left: 80px;
}

.vList_navFeatured > li {
    margin-bottom: 6px;
}

.vList_nav > li {
    margin-bottom: 4px;
}

.vList > li.vList-item_push {
    margin-bottom: 22px;
}

/* mixing concerns here because of wordpress generated markup */
.vList_navFeatured {
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* mixing concerns here because of wordpress generated markup */
.vList_nav {
    font-size: 9px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Comment List
------------------------------------------------------------------------ */
.comment {
    border-bottom: 1px dotted #221f1f;
    margin-bottom: 30px;
}

.comment-bd {
    background: #221f1f;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    position: relative;
    margin-bottom: 60px; /* margin-bottom 30px + the size of the border that draw's the comment arrow */
}

.comment-bd:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top: 30px solid #221f1f; /* match the color of the comment-bd to draw the arrow */
    border-right: 30px solid transparent;
}

.comment-bd a {
    color: #ffffff;
}

.comment-meta {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 60px; /* match the height of the avatar to create vertical alignment */
}

/* ---------------------------------------------------------------------
 Comment Form
------------------------------------------------------------------------ */
.form-comment {
    background: #e6e7e8;
}

.form-comment-inner {
    padding: 20px;
}

/* ---------------------------------------------------------------------
 Panel
------------------------------------------------------------------------ */
.panel {
    border-top: 1px solid #000000;
    padding: 25px 0;
}

.panel_condensed {
    padding: 0;
}

.panel_inverse {
    border-top: none;
    border-bottom: 1px solid #000000;
}

.panel_bare {
    border-top: none;
    border-bottom: none;
}

.panel_clip {
    padding-bottom: 0;
}

/* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
.feature {
    margin-bottom: 40px;
}

.feature_reasonable {
    margin-bottom: 20px;
}

.feature_condensed {
    margin-bottom: 0;
}

.feature-hd {
    margin-bottom: 20px;
}

.feature-hd_push {
    margin-left: 80px;
}

.feature-hd_alt {
    margin-top: 4px;
    margin-bottom: 4px;
}

.feature-hd_condensed {
    margin-bottom: 17px;
}

.feature-img {
    text-align: center;
    margin-bottom: 20px;

}

.feature_grid > .feature-img {
    -webkit-transition: opacity .12s linear;
    -moz-transition:    opacity .12s linear;
    -ms-transition:     opacity .12s linear;
    -o-transition:      opacity .12s linear;
    transition:         opacity .12s linear;
}

.feature_grid > .feature-img:hover {
    opacity: 0.7;
}

.feature-img_alt {
    margin-bottom: 15px;
}

.feature-bd {
    margin-bottom: 40px;;
}

.feature-bd_condensed {
    margin-bottom: 0;
}

.feature-meta .icn {
    display: none;
}

/* ---------------------------------------------------------------------
 Teaser
------------------------------------------------------------------------ */
.teaser {
    margin: 0 1% 44px 0;
}

.teaser-img {
    border-bottom: 1px solid #000000;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.teaser-hd {
    text-align: center;
}

.teaser-meta {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.teaser-img img {
    -webkit-transition: opacity .12s linear;
    -moz-transition:    opacity .12s linear;
    -ms-transition:     opacity .12s linear;
    -o-transition:      opacity .12s linear;
    transition:         opacity .12s linear;
}

a:hover .teaser-img img {
    opacity: .7;
}

/* ---------------------------------------------------------------------
 Icons
------------------------------------------------------------------------ */
.icn {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: bottom;
    background-image: url(../images/icon-sprite.png);
    -webkit-transition: opacity .12s linear;
    -moz-transition:    opacity .12s linear;
    -ms-transition:     opacity .12s linear;
    -o-transition:      opacity .12s linear;
    transition:         opacity .12s linear;
}

.icn_email { background-position: 0 0 ; }
.icn_facebook { background-position: -27px 0; }
.icn_twitter { background-position: -54px 0 ; }
.icn_instagram { background-position: -81px 0 ; }
.icn_8tracks { background-position: -108px 0 ; }
.icn_rss { background-position: -131px 0 ; }
.icn_prev { background-position: -154px 0 ; }
.icn_next { background-position: -177px 0 ; }
.icn_down { background-position: -200px 0 ; }
.icn_pin { background-position: -227px 0; }

a:hover .icn { opacity: .2; }

/* ---------------------------------------------------------------------
 Switcher Icons
------------------------------------------------------------------------ */
.switcher {
    display: block;
    height: 27px;
    text-indent: -9999px;
    background: transparent url(../images/icons-viewchanger.png) no-repeat 0 0;
    opacity: 0.5;
}

.switcher.isActive {
    opacity: 1}

.switcher_grid {
    width: 28px;
}

.switcher_scroll {
    width: 41px;
    background-position: -39px 0;
}

/* ---------------------------------------------------------------------
 Form Styles
------------------------------------------------------------------------ */
.input {
    background: #ffffff;
    border: 0;
    margin: 0;
    padding: 6px 6px;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}

.input_alt {
    width: 96%;
    padding: 2%;
    margin-bottom: 12px;
}

.input_textarea {
    line-height: 1.8;
    margin-bottom: 0;
}

/* styles for the comment form textarea */
.pointer {
    position: relative;
    margin-bottom: 50px; /* margin-bottom 20px + the size of the border that draw's the comment arrow */
}

.pointer:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top: 30px solid #ffffff; /* match the color of the comment-bd to draw the arrow */
    border-right: 30px solid transparent;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,.3);
}

:-moz-placeholder {
   color: rgba(0,0,0,.3);
}

.input_alt::-webkit-input-placeholder {
   color: rgba(0,0,0,.6);
}

.input_alt:-moz-placeholder {
   color: rgba(0,0,0,.6);
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hdg {
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}

.hdg_center {
    text-align: center;
}

.hdg-split {
    display: block;
}

.hdg_1 { font-size: 20px; }
.hdg_2 { font-size: 18px; }
.hdg_3 { font-size: 16px; }
.hdg_4 { font-size: 12px; }
.hdg_5 { font-size: 10px; }

/* ---------------------------------------------------------------------
 Media Object
------------------------------------------------------------------------ */
.media {
    overflow: hidden;
}

.media-element {
    float: left;
    margin-right: 16px;
}

.media-element img {
    display: block;
}

.media-bd {
    overflow: hidden;
}

/* ---------------------------------------------------------------------
 Button
------------------------------------------------------------------------ */
.btn {
    display: block;
    padding: 15px 15px;
    background: #221f1f;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    -webkit-transition: opacity .12s linear;
    -moz-transition:    opacity .12s linear;
    -ms-transition:     opacity .12s linear;
    -o-transition:      opacity .12s linear;
    transition:         opacity .12s linear;
}

.btn:hover {
    color: #ffffff;
    opacity: .3;
}

/* wordpress doesn't allow adding classes to this button
in the comment form so I used the provided ID */
#comment-submit {
    width: 115px;
    height: 27px;
    padding: 0;
    margin: 0;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    background: url(../images/btn-lets-hear-it.png) no-repeat 0 0;
}

/* ---------------------------------------------------------------------
 Pagination
------------------------------------------------------------------------ */
.pagination {
    overflow: hidden;
}

.pagination-prev {
    float: left;
}

.pagination-next {
    float: right;
}

.pagination a {
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ---------------------------------------------------------------------
 Carousel - JS Styles
------------------------------------------------------------------------ */
.js .carousel {
    position: relative;
}

.js .carousel-item {
    display: none;
}

.js .carousel-item:first-child {
    display: block;
}

/* ---------------------------------------------------------------------
 Toggle - JS Styles
------------------------------------------------------------------------ */
.js .js-toggle-link {
    position: relative;
    cursor: pointer;
    -webkit-transition: color .12s linear;
    -moz-transition:    color .12s linear;
    -ms-transition:     color .12s linear;
    -o-transition:      color .12s linear;
    transition:         color .12s linear;
}

.js .js-toggle-icn {
    position: absolute;
    bottom: -20px;
    left: -4px;
}

.js .js-toggle-link:hover {
    color: #e15119;
}

.js .js-toggle-link:hover .icn {
    opacity: .2;
}

.js .js-toggle-target {
    display: none;
}

.js .js-toggle-target.isExpanded {
    display: block;
}

/* ---------------------------------------------------------------------
 View Switcher
------------------------------------------------------------------------ */
.no-js .js-view-toggle {
    display: none;
}

/* ---------------------------------------------------------------------
 User Content
------------------------------------------------------------------------ */
.user-content hr {
    margin: 0 0 12px 0;
    background: #000000;
    color: #000000;
    height: 1px;
    border: none;
    line-height: 1px;
    font-size: 1px;
}

.user-content img {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
}

/* Paragraph Styles ---------------------------------------------------- */
.user-content h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.user-content h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.user-content h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.user-content h4 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.user-content h5 {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.user-content h6 {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.user-content p {
    margin: 0 0 12px 0;
}

.user-content blockquote {
    margin: 0 0 12px 0;
    padding: 12px;
    background: #eee;
    font-style: italic;
}

.user-content address {
    margin: 0 0 12px 0;
    font-style: italic;
}

.user-content pre {
    margin: 0 0 12px 0;
    font-family: "Lucida Console", Monaco, monospace;
}

/* Text Styles --------------------------------------------------------- */

.user-content a {
    text-decoration: underline;
}

.user-content a:link {
}

.user-content a:visited {
}

.user-content a:focus,
.user-content a:hover {
    background: #e6e7e8;
}

.user-content a:active {
}

.user-content em,
.user-content i, {
    font-style: italic;
}

.user-content strong,
.user-content b {
    font-weight: bold;
}

.user-content abbr,
.user-content acronym {
    border-bottom: dotted 1px;
}

.user-content sub {
    vertical-align: sub;
    font-size: smaller;
}

.user-content sup {
    vertical-align: super;
    font-size: smaller;
}

.user-content u,
.user-content ins {
    text-decoration: underline;
}

.user-content s,
.user-content strike,
.user-content del {
    text-decoration: line-through;
}

.user-content big {
    font-size: larger;
}

.user-content small {
    font-size: smaller;
}

.user-content q {
    font-style: italic;
}

.user-content q::before {
    content: open-quote;
}

.user-content q::after  {
    content: close-quote;
}

.user-content q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.user-content samp,
.user-content tt,
.user-content code,
.user-content kbd {
    font-family: "Lucida Console", Monaco, monospace;
}

.user-content var {
    font-style: italic;
}

.user-content cite {
    font-style: italic;
}

.user-content dfn {
    font-style: italic;
}

.user-content ins {
    text-decoration: underline;
}

.user-content blink {
    text-decoration: blink;
}

.user-content bdo {
}

/* List Styles --------------------------------------------------------- */

.user-content ul,
.user-content ol,
.user-content dl {
    margin-top: 0;
    margin-bottom: 12px;
}

.user-content ul {
    list-style-type: disc;
    margin: 0 0 12px 0;
}

.user-content ol {
    list-style-type: decimal;
    margin: 0 0 12px 0;
}

.user-content dt {
    font-weight: bold;
}

.user-content li,
.user-content dd {
    margin: 0 0 0 24px;
}

/* nested lists have no top/bottom margins */
.user-content ul ul,
.user-content ul ol,
.user-content ul dl,
.user-content ol ul,
.user-content ol ol,
.user-content ol dl,
.user-content dl ul,
.user-content dl ol,
.user-content dl dl {
    margin-top: 0;
    margin-bottom: 0;
}

/* 2 deep unordered lists use a circle */
.user-content ol ul,
.user-content ul ul {
    list-style-type: circle;
}

/* 3 deep (or more) unordered lists use a square */
.user-content ol ol ul,
.user-content ol ul ul,
.user-content ul ol ul,
.user-content ul ul ul {
    list-style-type: square;
}

/* Table Styles -------------------------------------------------------- */

.user-content table {
    margin: 0 0 20px 0;
    width: 100% !important;
    border-spacing: 2px;
    border-collapse: separate;
}

.user-content caption {
    font-size: smaller;
}

.user-content tr {
    vertical-align: middle;
}

.user-content tbody {
    vertical-align: middle;
}

.user-content thead {
    vertical-align: middle;
}

.user-content tfoot {
    vertical-align: middle;
}

.user-content td {
    vertical-align: inherit;
    text-align: inherit;
    padding: 2px 4px;
}

.user-content th {
    vertical-align: inherit;
    text-align: inherit;
    font-weight: bold;
    padding: 2px 4px;
    background-color: #666;
    color: #fff;
}

.user-content tr.even td {
    background-color: #ccc;
}





