/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor & Dan Piscitiello
Contributors: N/A

Target Browsers: IE8, IE9, Safari 6, Chrome 22, Firefox 15
Media Type: Screen
Width: 48em and up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */
.gridRow {
    overflow: hidden;
    position: relative;
}

.gridRow-col {
    float: left;
    position: relative;
}

.gridRow-col + .gridRow-col {
    margin-left: 1.443299%;
}

.gridRow-col_size1of4 { width: 23.917526%; }
.gridRow-col_size2of4 { width: 49.278351%; }
.gridRow-col_size3of4 { width: 74.63975%; }
.gridRow-col_size4of4 { width: 100%; }

.gridRow-col_prefix1of4 { margin-left: 23.917526%; }
.gridRow-col_prefix2of4 { margin-left: 49.278351%; }
.gridRow-col_prefix3of4 { margin-left: 74.63975%; }
.gridRow-col_prefix4of4 { margin-left: 100%; }

.gridRow-col_suffix1of4 { margin-right: 23.917526%; }
.gridRow-col_suffix2of4 { margin-right: 49.278351%; }
.gridRow-col_suffix3of4 { margin-right: 74.63975%; }
.gridRow-col_suffix4of4 { margin-right: 100%; }

.gridRow-col_push1of4 { left: 25.360825%; }
.gridRow-col_push2of4 { left: 50.72165%; }
.gridRow-col_push3of4 { left: 76.083049%; }
.gridRow-col_push4of4 { left: 100%; }

.gridRow-col_pull1of4 { left: -25.360825%; }
.gridRow-col_pull2of4 { left: -50.72165%; }
.gridRow-col_pull3of4 { left: -76.083049%; }
.gridRow-col_pull4of4 { left: -100%; }