/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor & Dan Piscitiello
Contributors: N/A

Target Browsers: IE8, IE9, Safari 6, Chrome 22, Firefox 15
Media Type: Screen
Width: 48em and up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Utility Mixins
------------------------------------------------------------------------ */
.isLargeView {
    display: block;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.logo {
    padding-top: 0;
    text-align: left;
}

.logo a {
    display: block;
    width: 180px;
    padding: 0 10px;
}

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */
.gridRow {
    overflow: hidden;
    position: relative;
}

.gridRow-col {
    float: left;
    position: relative;
}

/* for use with Xof4 */
.gridRow-col + .gridRow-col {
    margin-left: 1.443299%;
}

/* for use with Xof3 */
.gridRow-col_alt + .gridRow-col_alt {
    margin-left: 1.933703%;
}

.gridRow-col_size1of4 { width: 23.917526%; }
.gridRow-col_size2of4 { width: 49.278351%; }
.gridRow-col_size3of4 { width: 74.63975%; }
.gridRow-col_size4of4 { width: 100%; }

.gridRow-col_size1of3 { width: 32.044198%; }
.gridRow-col_size2of3 { width: 66.022099%; }
.gridRow-col_size3of3 { width: 100%; }

.gridRow-col_prefix1of4 { margin-left: 25.360825%; }
.gridRow-col_prefix2of4 { margin-left: 50.72165%; }
.gridRow-col_prefix3of4 { margin-left: 76.083049%; }
.gridRow-col_prefix4of4 { margin-left: 100%; }

.gridRow-col_suffix1of4 { margin-right: 25.360825%; }
.gridRow-col_suffix2of4 { margin-right: 50.72165%; }
.gridRow-col_suffix3of4 { margin-right: 76.083049%; }
.gridRow-col_suffix4of4 { margin-right: 100%; }

.gridRow-col_push1of4 { left: 25.360825%; }
.gridRow-col_push2of4 { left: 50.72165%; }
.gridRow-col_push3of4 { left: 76.083049%; }
.gridRow-col_push4of4 { left: 100%; }

.gridRow-col_pull1of4 { left: -25.360825%; }
.gridRow-col_pull2of4 { left: -50.72165%; }
.gridRow-col_pull3of4 { left: -76.083049%; }
.gridRow-col_pull4of4 { left: -100%; }

/* ---------------------------------------------------------------------
 Main Navigation
------------------------------------------------------------------------ */
.nav {
    text-align: left;
}

.nav > li {
    margin-bottom: 8px;
}

.nav_split > li {
    width: 50%;
    float: left;
    display: block;
}

.nav_split > li + li {
    margin-left: 0;
}

.nav_split > li.isLargeView {
    display: block;
}

/* ---------------------------------------------------------------------
 Comment Form
------------------------------------------------------------------------ */
/* styles for the comment form input layout */
.input_name {
    float: left;
    width: 34%;
    padding: 2%;
}

.input_url {
    float: right;
    width: 54%;
    padding: 2%;
}

.input_email {
    float: left;
    width: 56%;
    padding: 2%;
    margin-right: 12px;
}

@media (min-width: 61em) {
    .input_email {
        width: 63%;
    }
}

/* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
.feature-meta_grid .btn {
    background: transparent;
    padding: 0;
    line-height: 0;
    font-size: 0;
    text-align: -9999px;
}

.feature-meta_grid .icn {
    display: block;
    margin: 0 auto;
    vertical-align: top
}


