{{#each this}}
<div class="carousel-slide">
    <ul class="photoGrid">
        {{#each this}}
        <li>
            <a href="#" class="polaroid polaroid_med js-close-friend" data-facebook-id="{{FacebookId}}">
                <img src="{{ImageUrl}}?width=59&height=61" width="59" height="61" alt=""/>
                <span class="polaroid-caption">{{ShortenedName}}</span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
{{/each}}