<?php
/**
 * The base configurations of WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * Mon, 05 Nov 2012 22:59:09 -0600
 *
 * Standard WordPress installation
 * Staging environment
 *
 * @author  Anthony Ticknor <tony.ticknor@gmail.com>
 * @package WordPress
 */

/**
 * Home & site URL.
 *
 * This will override the home/site URL settings
 * in the General Settings of wp-admin.
 */
define('WP_HOME', 'http://katearends.com');
define('WP_SITEURL', WP_HOME);

/**
 * MySQL settings.
 *
 * Update these to match the values necessary for
 * accessing the database.
 */
// Database name
define('DB_NAME', 'katearends_com');

// Database username
define('DB_USER', 'ka4dm1nmysql');

// Database password
define('DB_PASSWORD', 'jDuJ2gU8i67dQXFqJv9om4fn');

// Database host (usually 'localhost')
define('DB_HOST', 'localhost');

// Database character set
define('DB_CHARSET', 'utf8');

// The database collation. Leave this blank unless otherwise required.
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'O+;U_a`:#-M#9OdwT`fw]2`p*KR72+6=:#|C3vv?I3**4S}fek-}Z!QC(TsJ[6>$');
define('SECURE_AUTH_KEY',  't]HDBBVjY,sc[1*u9}.g::m,f+,<*O>9K7UR Ou3$W*HI[SfCHR)2M (9ji,-PU$');
define('LOGGED_IN_KEY',    'EPx]1pPT2ppL)QJKC+oq5q vdG}>Mv>lt7&v|k-KOhM@$mQ:D_4.OGW.p`!HS;|U');
define('NONCE_KEY',        '<A^N!IFUw,C#=b;{lPn0aA-ppY qoI-crciU*ZiVAnEZb*|FmhPMHD*lT8x{8 (Y');
define('AUTH_SALT',        '57y^X}4},&]d=2KPe%5,rmwyd,BhTC-4)Kg=Amt0g;VJ7eji>V/ *or5Z+n4FO}h');
define('SECURE_AUTH_SALT', '~<Y7v9t5C;NvN5NR^lqJi8NK-MT|#F6%hA->-|6F%I|Zze+=q:m~1J;ElC%J#`O@');
define('LOGGED_IN_SALT',   '3%w>zg+p$b>*)q6@>rADrkc6N5rh7nsS%JgnSY#Z8r6,|LtGsDaLBNGxK|oBT-G]');
define('NONCE_SALT',       'U?!>yk*/OIPt%Yu~1ML{`5gZ,4J^3u4y,OD(<#r;r,f-j-U][|O#8jQNy/xumX1w');
/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'kawp_';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress.  A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de.mo to wp-content/languages and set WPLANG to 'de' to enable German
 * language support.
 */
define('WPLANG', '');

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);

/**
 * Content directory and URL.
 *
 * For WordPress installations using SVN externals and keeping the
 * content directory separate from WordPress core code.
 */
define('WP_CONTENT_DIR', dirname(__FILE__) . '/content');
define('WP_CONTENT_URL', 'http://katearends.com/content');

/**
 * Admin cookie path.
 *
 * A path must be defined for the WordPress login cookie because
 * WordPress core is located in a subdirectory of the site.
 */
define('ADMIN_COOKIE_PATH', '/');

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if (! defined('ABSPATH'))
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');