/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor & Dan Piscitiello
Contributors: N/A

Target Browsers: IE8, IE9, Safari 6, Chrome 22, Firefox 15
Media Type: Screen
Width: 24em and up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Comments
------------------------------------------------------------------------ */
.comment { width: 80%; }

/* ---------------------------------------------------------------------
 Comment Form
------------------------------------------------------------------------ */
.form-comment { width: 80%; }

/* ---------------------------------------------------------------------
 Pods
------------------------------------------------------------------------ */
.pods > * { width: 50%; }