/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor & Dan Piscitiello
Contributors: N/A

Target Browsers: IE8, IE9, Safari 6, Chrome 22, Firefox 15
Media Type: Screen
Width: 48em and up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
    padding: 0 20px;
}

/* ---------------------------------------------------------------------
 Utility Mixins
------------------------------------------------------------------------ */
.isLargeView {
    display: block;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.masthead {
    position: relative;
    padding-bottom: 0;
    height: 240px;
}

.masthead-logo {
    position: absolute;
    top: 80px;
    left: 0;
}

.masthead-nav {

}

.masthead-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 23.917526%; /* matches the width of the side column (1of4) */
}

/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
    padding-top: 0; /* reset */
    text-align: left; /* reset */
    margin-bottom: 0; /* reset */
}

.logo a {
    display: block;
    width: 200px;
}

/* ---------------------------------------------------------------------
 BtnLoadMore
------------------------------------------------------------------------ */
.btnLoadMore {
    border-bottom: 1px solid #000000;
}

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */
.gridRow {
    position: relative;
}

.gridRow:after {
    content: "";
    display: table;
    clear: both;
}

.gridRow-col {
    float: left;
    position: relative;
}

/* for use with Xof4 */
.gridRow-col + .gridRow-col {
    margin-left: 1.443299%;
}

/* for use with Xof3 */
.gridRow-col_alt + .gridRow-col_alt {
    margin-left: 1.933703%;
}

.gridRow-col_size1of4 { width: 23.917526%; }
.gridRow-col_size2of4 { width: 49.278351%; }
.gridRow-col_size3of4 { width: 74.63975%; }
.gridRow-col_size4of4 { width: 100%; }

.gridRow-col_size1of3 { width: 32.044198%; }
.gridRow-col_size2of3 { width: 66.022099%; }
.gridRow-col_size3of3 { width: 100%; }

.gridRow-col_prefix1of4 { margin-left: 25.360825%; }
.gridRow-col_prefix2of4 { margin-left: 50.72165%; }
.gridRow-col_prefix3of4 { margin-left: 76.083049%; }
.gridRow-col_prefix4of4 { margin-left: 100%; }

.gridRow-col_suffix1of4 { margin-right: 25.360825%; }
.gridRow-col_suffix2of4 { margin-right: 50.72165%; }
.gridRow-col_suffix3of4 { margin-right: 76.083049%; }
.gridRow-col_suffix4of4 { margin-right: 100%; }

.gridRow-col_push1of4 { left: 25.360825%; }
.gridRow-col_push2of4 { left: 50.72165%; }
.gridRow-col_push3of4 { left: 76.083049%; }
.gridRow-col_push4of4 { left: 100%; }

.gridRow-col_pull1of4 { left: -25.360825%; }
.gridRow-col_pull2of4 { left: -50.72165%; }
.gridRow-col_pull3of4 { left: -76.083049%; }
.gridRow-col_pull4of4 { left: -100%; }

/* ---------------------------------------------------------------------
 Main Navigation
------------------------------------------------------------------------ */
.nav {
    text-align: left;
}

.nav > li + li {
    margin-left: 24px;
}

/* ---------------------------------------------------------------------
 Comment Form
------------------------------------------------------------------------ */
/* styles for the comment form input layout */
.input_name {
    float: left;
    width: 34%;
    padding: 2%;
}

.input_url {
    float: right;
    width: 54%;
    padding: 2%;
}

.input_email {
    float: left;
    width: 56%;
    padding: 2%;
    margin-right: 12px;
}

@media (min-width: 61em) {
    .input_email {
        width: 63%;
    }
}

/* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
.feature-meta_grid .btn {
    background: transparent;
    padding: 0;
    line-height: 0;
    font-size: 0;
    text-align: -9999px;
}

.feature-meta_grid .icn {
    display: block;
    margin: 0 auto;
    vertical-align: top
}

.feature-meta_grid a:hover .icn {
    opacity: .7;
}

/* ---------------------------------------------------------------------
 Ribbon
------------------------------------------------------------------------ */
.ribbon:after {
    content: "";
    display: table;
    clear: both;
}

.ribbon-bd {
    float: left;
    display: block;
    padding-right: 14px;
    position: relative;
    margin: -4px 0 0 -35px;
}

.ribbon-bd-inner {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 26px;
    line-height: 1;
    background: #000000;
    color: #ffffff;
    text-align: center;
}

.ribbon-bd-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    border-right: 10px #000000 solid;
    border-bottom: 6px transparent solid;
}

.ribbon-buddy {
    display: block;
    overflow: hidden;
}

.ribbon-bd_alt {
    float: none;
    display: inline-block;
    margin-left: -25px;
    margin-bottom: 14px;
}

.ribbon-bd_alt .ribbon-bd-inner {
    line-height: 26px;
}

.date {
    font-weight: 400;
    font-size: 9px;
}

/* ---------------------------------------------------------------------
 Social Footer Module
------------------------------------------------------------------------ */
.socialFooter {
    padding: 13px 0 15px;
    margin-left: 0;
    border-top: 1px solid #000000;
}

.socialFooter-comments {
    display: block;
    float: left;
    font-size: 10px;
    line-height: 2.5;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.socialFooter-links {
    float: right;
}

.socialFooter-links > * {
    width: 23px;
    margin: 0;
}

.socialFooter-links > * + * {
    margin-left: 3px;
}

/* ---------------------------------------------------------------------
 Pods
------------------------------------------------------------------------ */
.pods > * {
    width: 33.333333%;
    margin-bottom: 0;
}