/* ---------------------------------------------------------------------
   Notes

   Color Palette
   ======================
   Black    - #000000
   Midnight - #201d1d
   Grey     - #eeedeb
   Gold     - #fdc58f

   Font Stacks
   ======================
   Proxima Nova / Sans Serif
   - "proxima-nova", Helvetica, arial, sans-serif;
   - 400 Regular
   - 600 Semi Bold
   - 800 Extrabold

   Miller / Serif
   - "MillerDisplay Light", Georgia, serif;

   Major Breakpoints
   ======================
   30em - 480px
   40em - 640px
   60em - 960px
   72em - 1152px
   80em - 1240px

---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   Font Embeds
---------------------------------------------------------------------- */
@font-face {
    font-family: "like_font";
    src: url("../fonts/like_font/like_font.eot");
    src: url("../fonts/like_font/like_font.eot?#iefix") format("embedded-opentype"),
        url("../fonts/like_font/like_font.woff") format("woff"),
        url("../fonts/like_font/like_font.ttf") format("truetype"),
        url("../fonts/like_font/like_font.svg#like_font") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
   Base Reset (Thanks Eric Meyer)
---------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important; /* media should never overflows it's container */
}

/* ---------------------------------------------------------------------
   HTML5 Elements
---------------------------------------------------------------------- */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
   Form Elements
---------------------------------------------------------------------- */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,.3);
}

:-moz-placeholder {
   color: rgba(0,0,0,.3);
}

/* ---------------------------------------------------------------------
   Element Defaults
---------------------------------------------------------------------- */
body {
    background-color: #ffffff; /* the footer background color */
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: color .12s linear, background .12s linear;
}

a:hover,
a:focus {
    color: #fdc58f;
    text-decoration: none;
}

/* ---------------------------------------------------------------------
   Utility Classes
---------------------------------------------------------------------- */
.isVisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.blockImage {
    display: block;
}

@media screen and (max-width: 60em) {
    .isWidescreenOnly {
        display: none;
    }
}

@media screen and (max-width: 30em) {
    .isHiddenOnSmallScreens {
        display: none;
    }
}

/* ---------------------------------------------------------------------
   Masthead
------------------------------------------------------------------------ */
.masthead {
    padding: 20px 0;
    text-align: center;
}

@media screen and (min-width: 40em) {
    .masthead {
        padding: 30px 0;
    }
}

/* ---------------------------------------------------------------------
   Logo
------------------------------------------------------------------------ */
.logo path {
    fill: #ffffff !important;
}

.logo {
    display: inline-block;
    width: 240px;
}

@media screen and (min-width: 30em) {
    .logo {
        width: 320px;
    }
}

@media screen and (min-width: 40em) {
    .logo {
        width: 440px;
    }
}

/* ---------------------------------------------------------------------
   Navigation
------------------------------------------------------------------------ */
.nav {
    display: none;
}

@media screen and (min-width: 60em) {
    .nav {
        display: block;
        padding: 0;
        height: 42px; /* fixed height matches tier_isSticky */
        line-height: 42px; /* vertically centered text */
        color: #ffffff;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        overflow: hidden; /* hide items that may overflow the container */
    }

    .nav a {
        color: #ffffff;
    }
}

/* ---------------------------------------------------------------------
   Sidebar
------------------------------------------------------------------------ */
.sidebar {
    display: none;
}

/* media query matches grid starter media query */
@media screen and (min-width: 60em) {
    .sidebar {
        display: block;
    }

    .sidebar-section {
        padding-bottom: 20px;
    }
}

/* ---------------------------------------------------------------------
   Footer
------------------------------------------------------------------------ */
.footer {
    position: relative;
    padding: 20px 0;
}

.footer-brand {
    display: none;
}

.footer-social {
    margin-bottom: 20px;
    text-align: center;
}

.footer-social-hd {
    display: none;
}

.footer-nav {
    margin-bottom: 6px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.footer-legal {
    font-family: "MillerDisplay Light", Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 40em) {
    .footer-nav {
        margin-bottom: 2px;
    }
}

@media screen and (min-width: 60em) {
    .footer {
        padding: 40px 0;
    }

    .footer-brand {
        display: block;
        width: 200px; /* constrain the logo */
        margin-bottom: 18px;
    }

    .footer-social {
        text-align: left; /* small screen reset */
        margin-bottom: 0; /* small screen reset */
    }

    .footer-social-hd {
        display: inline-block;
        vertical-align: middle;
        margin-top: 5px; /* get the hd and bd better vertically aligned */
        padding-right: 40px;
        font-family: "MillerDisplay Light", Georgia, serif;
        font-size: 14px;
        line-height: 1;
        font-weight: normal;
        font-style: italic;
    }

    .footer-social-bd {
        display: inline-block;
        vertical-align: middle;
    }

    .footer-nav {
        margin-bottom: 0; /* small screen reset */
        position: absolute;
        top: 57px; /* magic number */
        right: 0;
        font-size: 16px;
        text-align: right;
    }

    .footer-legal {
        position: absolute;
        top: 90px; /* footer-nav magic number + footer-nav height + mimicked margin (matches footer-nav initial margin) */
        right: 0;
        text-align: right;
    }
}

/* ---------------------------------------------------------------------
   Tier
------------------------------------------------------------------------ */
.tier {
    background-color: transparent; /* always transparent unless extended */
}

/* always clear a tier in case there is uncleared content that is floated */
.tier:before,
.tier:after {
    content: " ";
    display: table;
}

.tier:after {
    clear: both;
}

/* tier extensions apply background */
.tier_white {
    background-color: #ffffff;
}

.tier_grey {
    background-color: #eeedeb;
}

.tier_dark {
    background-color: #201d1d;
}

/* sticky-ness! */
.tier_isSticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
}

.tier_push {
    padding-bottom: 20px;
}

/* ---------------------------------------------------------------------
   Wrapper
------------------------------------------------------------------------ */
.wrapper {
    max-width: 1140px;
    min-width: 280px;
    margin: 0 auto; /* center wrapper on the screen */
    padding: 0 10px; /* don't let wrapper contents touch the edge of the screen */
}

.wrapper_noPad {
    padding: 0 !important; /* push the wrapper edge to edge */
}

@media screen and (min-width: 40em) {
    .wrapper {
        padding: 0 20px;
    }
}

@media screen and (min-width: 60em) {
    .wrapper {
        padding: 0 30px;
    }
}

/* ---------------------------------------------------------------------
   Grid
------------------------------------------------------------------------ */
@media screen and (min-width: 60em) {
    .grid:before,
    .grid:after {
        content: " ";
        display: table;
    }

    .grid:after {
        clear: both;
    }

    .grid-col {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        float: left;
        position: relative;
    }

    .grid-col_main {
        width: 68%;
        padding-right: 20px;
    }

    .grid-col_aside {
        width: 32%;
    }
}

@media screen and (min-width: 72em) {
    .grid-col_main {
        width: 75%;
    }

    .grid-col_aside {
        width: 25%;
    }
}

@media screen and (min-width: 80em) {
    .grid-col_main {
        width: 76%;
    }

    .grid-col_aside {
        width: 24%;
    }
}

/* ---------------------------------------------------------------------
   Page
------------------------------------------------------------------------ */
.page {
    margin-bottom: 40px;
}

.page-bd_push {
    padding-bottom: 20px;
}

/* ---------------------------------------------------------------------
   Carousel
------------------------------------------------------------------------ */
.carousel {
    position: relative;
    margin-bottom: 20px;
}

.carousel-stage-slide {
    display: none;
}

.carousel-stage-slide:first-child {
    display: block;
}

.carousel-controls {
    display: none;
}

.carousel-controls_alwaysHidden {
    display: none !important; /* for when only one slide exists */
}

.js .carousel-controls {
    display: block;
    position: absolute;
    top: calc(50% - 26px); /* the outer height of the control buttons */
    left: 0;
    right: 0;
}

.js .carousel-controls-prev,
.js .carousel-controls-next {
    display: block;
    line-height: 1;
    padding: 2px 6px 4px 6px;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: #eeedeb;
    color: #000000;
    cursor: pointer;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: normal;
    font-style: normal;
}

.js .carousel-controls-prev {
    position: absolute;
    top: 0;
    left: 0;
}

.js .carousel-controls-next {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (min-width: 40em) {
    .js .carousel-controls-prev,
    .js .carousel-controls-next {
        padding: 4px 10px 6px 10px;
        font-size: 37px;
    }
}

/* ---------------------------------------------------------------------
   Archive
------------------------------------------------------------------------ */
.archive {
    margin-bottom: 40px;
}

.archive-filters {
    display: none;
    margin-bottom: 20px;
}

.js .archive-filters {
    display: block;
}

.archive-bd {
    margin-bottom: 22px;
}

.archive-ft {
    display: none;
    text-align: center;
}

.js .archive-ft {
    display: block;
}

/* ---------------------------------------------------------------------
   Single
------------------------------------------------------------------------ */
.single {
    margin-bottom: 40px;
}

.single-bd {
    margin-bottom: 40px;
}

.single-ad {
    margin-bottom: 40px;
}

.single-related {
    margin-bottom: 40px;
}

/* ---------------------------------------------------------------------
   Box
------------------------------------------------------------------------ */
.box {
    background: #ffffff;
    padding: 25px;
}

.box_tight {
    padding: 20px 0;
}

.box_violator {
    padding: 20px 20px 15px 20px;
}

.box_cta {
    padding: 15px 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
}

.box_isCentered {
    text-align: center;
}

/* ---------------------------------------------------------------------
   Card
------------------------------------------------------------------------ */
.card {
    position: relative;
}

.card-bd {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    background-color: rgba(255,255,255,0.75);
    text-align: center;
}

.card-bd a:hover,
.card-bd a:focus {
    color: #000000;
}

@media screen and (min-width: 40em) {
    .card-bd {
        padding: 10px 0;
    }
}

@media screen and (min-width: 60em) {
    .card-bd {
        padding: 20px 0;
    }
}

/* ---------------------------------------------------------------------
   Crate
------------------------------------------------------------------------ */
.crate {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: #000000;
    padding: 20px;
    max-width: 480px;
}

/* ---------------------------------------------------------------------
   Stack - matches pill border(s)
------------------------------------------------------------------------ */
.stack {
    border: 2px solid #ffffff;
}

.stack-item {
    padding: 6px 20px;
}

.stack-item + .stack-item {
    border-top: 2px solid #ffffff;
}

.stack-item_isOffset {
    padding-top: 12px;
}

.stack-item_isCentered {
    text-align: center;
}

.stack-item_hasList {
    padding: 0 0; /* remove padding */
}

/* ---------------------------------------------------------------------
   Media Object
------------------------------------------------------------------------ */
.media {
    overflow: hidden;
}

.media-element {
    float: left;
    margin-right: 16px;
}

.media-element img {
    display: block;
}

.media-bd {
    overflow: hidden;
}

/* ---------------------------------------------------------------------
   Pods
------------------------------------------------------------------------ */
.pods {
    margin: -20px 0 0 -20px;
    margin-bottom: 20px;
    font-size: 0;
}

.pods > * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 20px;
    font-size: 13px;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 30em) {
    .pods > * {
        width: 50%;
    }

    .pods_violator > * {
        width: 33.333333%;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 60em) {
    .pods > * {
        width: 33.333333%;
        margin-bottom: 0;
    }
}

/* ---------------------------------------------------------------------
   Product
------------------------------------------------------------------------ */
.product-media {
    height: 140px;
    margin-bottom: 30px;
}

.product-media > img {
    max-height: 140px;
}

.product-hd {
    margin-bottom: 6px;
    font-family: "MillerDisplay Light", Georgia, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-bd {
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
   Teaser
------------------------------------------------------------------------ */
.teaser-media {
    text-align: center;
    margin-bottom: 30px;
}

.teaser-bd {
    text-align: center;
}

@media screen and (min-width: 40em) {
    .teaser {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .teaser-media {
        display: table-cell;
        width: 45%;
        margin-bottom: 0; /* small size reset */
        vertical-align: middle;
    }

    .teaser-media > img {
        display: block;
    }

    .teaser-bd {
        display: table-cell;
        width: 55%;
        padding-left: 30px;
        vertical-align: middle;
    }
}

/* ---------------------------------------------------------------------
   Blurb
------------------------------------------------------------------------ */
.blurb_centered {
    text-align: center;
}

.blurb-label {
    margin-bottom: 20px;
}

.blurb-hd {
    margin-bottom: 8px;
}

.blurb-hd_push {
    margin-bottom: 24px;
}

.blurb-bd {
    max-width: 400px;
    margin: 0 auto 42px auto;
}

@media screen and (min-width: 40em) {
    .blurb-bd {
        max-width: none; /* small screen reset */
        margin: 0 0 42px 0; /* small screen reset */
    }
}

/* ---------------------------------------------------------------------
   Clip
------------------------------------------------------------------------ */
.clip {
    text-align: center;
}

.clip-media {
    margin-bottom: 20px;
}

.clip-media > img {
    display: inline-block;
}

@media screen and (min-width: 30em) {
    .clip {
        text-align: left;
    }

    .clip-media {
        margin-bottom: 12px;
    }
}

/* ---------------------------------------------------------------------
   CTA
------------------------------------------------------------------------ */
.cta {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}

.cta-embellishment {
    margin-bottom: 18px;
}

.cta-hd {
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------
   Post
------------------------------------------------------------------------ */
.post-label {
    margin-bottom: 25px;
    text-align: center;
}

.post-media {
    margin-bottom: 20px;
    text-align: center;
}

.post-hd {
    margin-bottom: 20px;
    text-align: center;
}

.post-meta {
    margin-bottom: 20px;
    text-align: center;
}

/* ---------------------------------------------------------------------
   Section
------------------------------------------------------------------------ */
.section-hd {
    padding: 30px 0;
    text-align: center;
}

/* ---------------------------------------------------------------------
   Related
------------------------------------------------------------------------ */
.related-hd {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

/* ---------------------------------------------------------------------
   Comments
------------------------------------------------------------------------ */
.comments-hd {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

/* ---------------------------------------------------------------------
   Waypoint
------------------------------------------------------------------------ */
.waypoint > * {
    font-family: "MillerDisplay Light", Georgia, serif;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
}

.waypoint > * + * {
    border-top: 2px solid #ffffff; /* matches .stack */
}

.waypoint > * a {
    display: block;
    padding: 6px 20px; /* matches .stack */
}

.waypoint > * a:hover,
.waypoint > * a:focus {
    color: inherit;
}

.waypoint > * a > img {
    display: inline-block !important; /* override plugin */
    height: 36px !important; /* override plugin */
    width: 36px !important; /* override plugin */
}

.waypoint > * a > .menu-image-title {
    display: inline-block !important; /* override plugin */
    vertical-align: middle !important; /* override plugin */
    padding-left: 14px !important; /* override plugin */
}

.menu-item a.menu-image-title-after.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-after
.menu-image-hover-wrapper {
    padding-right: 0 !important; /* override plugin */
}

/* ---------------------------------------------------------------------
   Horizontal Lists
------------------------------------------------------------------------ */
.hList_isCentered {
    display: inline-block;
}

.hList > * {
    display: inline-block;
}

.hList > * + * {
    margin-left: 12px;
}

.hList_social > * + * {
    margin-left: 20px;
}

/* ---------------------------------------------------------------------
   Vertical Lists
------------------------------------------------------------------------ */
.vList {
    display: block;
}

.vlist > *:not(:last-child) {
    margin-bottom: 22px;
}

.vlist-item_indented {
    margin-left: 60px; /* super gross way to create indented comments */
}

/* ---------------------------------------------------------------------
   Comment List
------------------------------------------------------------------------ */
.comment {
    margin-bottom: 30px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    max-width: 480px;
    overflow-wrap: break-word;
       word-wrap: break-word;
}

.comment-bd {
    background: #000000;
    color: #ffffff;
    padding: 20px;
    position: relative;
    margin-bottom: 60px; /* margin-bottom 30px + the size of the border that draw's the comment arrow */
}

.comment-bd:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top: 30px solid #000000; /* match the color of the comment-bd to draw the arrow */
    border-right: 30px solid transparent;
}

/* comment user-content styles */
.comment-bd a {
    color: #ffffff;
}

.comment-bd > * + * {
    margin-top: 12px;
}

.comment-meta {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 24px; /* match the height of the avatar to create vertical alignment */
}

/* kate's comment style */
.comment_kate .comment-bd {
    background: #ffffff;
    color: #000000;
}

.comment_kate .comment-bd:after {
    border-top-color: #ffffff;
}

.comment_kate .comment-bd a {
    color: #000000;
}

/* ---------------------------------------------------------------------
   Headings
------------------------------------------------------------------------ */
.hdg {
    font-family: "MillerDisplay Light", Georgia, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
}

.hdg_xxl {
    font-size: 30px;
    line-height: 1.3;
}

.hdg_xl {
    font-size: 24px;
    line-height: 1.3;
}

.hdg_lg {
    font-size: 20px;
}

.hdg_md {
    font-size: 18px;
}

.hdg_sm {
    font-size: 14px;
}

.hdg_xs {
    font-size: 12px;
}

.hdg_flex {
    font-size: 14px;
}

@media screen and (min-width: 30em) {
    .hdg_flex {
        font-size: 16px;
    }
}

@media screen and (min-width: 40em) {
    .hdg_flex {
        font-size: 20px;
    }
}

@media screen and (min-width: 50em) {
    .hdg_flex {
        font-size: 24px;
    }
}

@media screen and (min-width: 60em) {
    .hdg_flex {
        font-size: 30px;
    }
}

/* ---------------------------------------------------------------------
   Caption
------------------------------------------------------------------------ */
.caption {
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.caption_tight {
    letter-spacing: 1px;
}

.caption_flex {
    font-size: 12px;
}

.caption_sm {
    font-size: 12px;
    line-height: 1.3;
}


@media screen and (min-width: 50em) {
    .caption_flex {
        font-size: 14px;
    }
}

/* ---------------------------------------------------------------------
   Icons
------------------------------------------------------------------------ */
.icn {
    display: inline-block;
    border: 0;
    overflow: hidden;
    vertical-align: middle;
}

.icn_social {
    width: 18px;
    height: 18px;
}

.icn_social path {
    transition: fill .12s linear;
}

a:hover .icn_social path,
a:focus .icn_social path {
    fill: #fdc58f;
}

/* ---------------------------------------------------------------------
   Dot
------------------------------------------------------------------------ */
.dot {
    display: block;
    width: 45px;
}

.dot-image {
    display: block;
    width: 17px;
    height: 17px;
    padding: 14px;
    margin-bottom: 8px;
    border: 0;
    border-radius: 50%;
    background-color: #000000;
    overflow: hidden;
    vertical-align: middle;
}

.dot-image path {
    fill: #ffffff;
}

.dot-label {
    display: block;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

/* ---------------------------------------------------------------------
   Input Styles
------------------------------------------------------------------------ */
.input {
    background: #ffffff;
    border: 0;
    margin: 0;
    padding: 6px 6px;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0;
}

.input_alt {
    width: 96%;
    padding: 2%;
    margin-bottom: 12px;
    text-transform: none;
}

.input_violator {
    height: 100%;
    line-height: 16px;
    background: transparent;
    font-family: "MillerDisplay Light", Georgia, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    letter-spacing: normal;
    text-transform: none;
    -webkit-box-sizing: border-box !important;
       -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
}

.input_textarea {
    line-height: 1.8;
    margin-bottom: 0;
    text-transform: none;
}

@media screen and (min-width: 60em) {
    .input_name {
        float: left;
        width: 34%;
        padding: 2%;
    }

    .input_url {
        float: right;
        width: 54%;
        padding: 2%;
    }

    .input_email {
        float: left;
        width: 56%;
        padding: 2%;
        margin-right: 12px;
    }
}

@media (min-width: 60em) {
    .input_email {
        width: 62%;
    }
}

.input_alt::-webkit-input-placeholder {
   color: rgba(0,0,0,.6);
}

.input_alt:-moz-placeholder {
   color: rgba(0,0,0,.6);
}

.input_violator::-webkit-input-placeholder {
   color: #000000;
   text-align: center;
}

.input_violator:-moz-placeholder {
   color: #000000;
   text-align: center;
}

/* ---------------------------------------------------------------------
   Btn
------------------------------------------------------------------------ */
.btn {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 16px;
    padding: 6px;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: transparent;
    color: #000000;
    cursor: pointer;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #000000;
}

.btn_isWhite {
    background-color: #ffffff;
}

@media screen and (min-width: 40em) {
    .btn {
        font-size: 12px;
        letter-spacing: 2px;
    }
}

/* ---------------------------------------------------------------------
   Load More
------------------------------------------------------------------------ */
.loadMore {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    font-family: "MillerDisplay Light", Georgia, serif;
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.loadMore:hover,
.loadMore:active,
.loadMore:focus {
    color: #000000;
}

.loadMore-isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}

/* ---------------------------------------------------------------------
   Panel
------------------------------------------------------------------------ */
.panel {
    display: block;
    padding: 40px 0;
    text-align: center;
}

/* ---------------------------------------------------------------------
   Pill
------------------------------------------------------------------------ */
.pill:before,
.pill:after {
    content: " ";
    display: table;
}

.pill:after {
    clear: both;
}

.pill-section {
    overflow: visible;
    float: left;
    width: 50%;
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.pill-section_fill {
    background-color: #ffffff;
}

/* ---------------------------------------------------------------------
   Matrix
------------------------------------------------------------------------ */
.matrix:before,
.matrix:after {
    content: " ";
    display: table;
}

.matrix:after {
    clear: both;
}

.matrix {
    border: 2px solid #ffffff;
}

.matrix-item {
    float: left;
    width: 30%;
    border-right: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.matrix-item:last-child {
    width: 40%;
    border-right: none;
}

.matrix-item_label {
    display: none;
}

@media screen and (min-width: 40em) {
    .matrix-item,
    .matrix-item:last-child {
        width: 28%;
    }

    .matrix-item_label {
        display: block;
        width: 16%;
        line-height: 28px;
        font-family: "MillerDisplay Light", Georgia, serif;
        font-weight: normal;
        font-style: italic;
        font-size: 14px;
        letter-spacing: normal;
        text-transform: none;
        text-align: center;
    }

}

/* ---------------------------------------------------------------------
   Pointer - styles for the comment form textarea
------------------------------------------------------------------------ */
.pointer {
    position: relative;
    margin-bottom: 50px; /* margin-bottom 20px + the size of the border that draw's the comment arrow */
}

.pointer:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top: 30px solid #ffffff; /* match the color of the comment-bd to draw the arrow */
    border-right: 30px solid transparent;
}

/* ---------------------------------------------------------------------
   Comment Button
------------------------------------------------------------------------ */
#commentForm-submit {
    width: 115px;
    height: 27px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    text-indent: -9999px;
    cursor: pointer;
    background: url("../images/btn-lets-hear-it.png") no-repeat 0 0;
    background-size: 100%;
}

/* ---------------------------------------------------------------------
   User Content
------------------------------------------------------------------------ */
.user-content > *:last-child {
    margin-bottom: 0 !important; /* remove margin from the last item */
}

.user-content hr {
    margin: 0 0 20px 0;
    background: #000000;
    color: #000000;
    height: 1px;
    border: none;
    line-height: 1px;
    font-size: 1px;
}

.user-content img {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}

/* Paragraph Styles ---------------------------------------------------- */
.user-content h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.user-content h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.user-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.user-content h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.user-content h5 {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.user-content h6 {
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.user-content p {
    margin: 0 0 20px 0;
}

.user-content blockquote {
    margin: 0 0 20px 0;
    padding: 12px;
    background: #eee;
    font-style: italic;
}

.user-content blockquote > *:last-child {
    margin-bottom: 0 !important;
}

.user-content address {
    margin: 0 0 20px 0;
    font-style: italic;
}

.user-content pre {
    margin: 0 0 20px 0;
    font-family: "Lucida Console", Monaco, monospace;
}

/* Text Styles --------------------------------------------------------- */

.user-content a {
    text-decoration: underline;
}

.user-content a:link {
}

.user-content a:visited {
}

.user-content a:focus,
.user-content a:hover {
    color: #fdc58f;
}

.user-content a:active {
}

.user-content em,
.user-content i {
    font-style: italic;
}

.user-content strong,
.user-content b {
    font-weight: 800;
}

.user-content abbr,
.user-content acronym {
    border-bottom: dotted 1px;
}

.user-content sub {
    vertical-align: sub;
    font-size: smaller;
}

.user-content sup {
    vertical-align: super;
    font-size: smaller;
}

.user-content u,
.user-content ins {
    text-decoration: underline;
}

.user-content s,
.user-content strike,
.user-content del {
    text-decoration: line-through;
}

.user-content big {
    font-size: larger;
}

.user-content small {
    font-size: smaller;
}

.user-content q {
    font-style: italic;
}

.user-content q::before {
    content: open-quote;
}

.user-content q::after  {
    content: close-quote;
}

.user-content q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.user-content samp,
.user-content tt,
.user-content code,
.user-content kbd {
    font-family: "Lucida Console", Monaco, monospace;
}

.user-content var {
    font-style: italic;
}

.user-content cite {
    font-style: italic;
}

.user-content dfn {
    font-style: italic;
}

.user-content ins {
    text-decoration: underline;
}

.user-content blink {
    text-decoration: blink;
}

.user-content bdo {
}

/* List Styles --------------------------------------------------------- */

.user-content ul,
.user-content ol,
.user-content dl {
    margin-top: 0;
    margin-bottom: 20px;
}

.user-content ul {
    list-style-type: disc;
    margin: 0 0 20px 0;
}

.user-content ol {
    list-style-type: decimal;
    margin: 0 0 20px 0;
}

.user-content dt {
    font-weight: 800;
}

.user-content li,
.user-content dd {
    margin: 0 0 0 24px;
}

/* nested lists have no top/bottom margins */
.user-content ul ul,
.user-content ul ol,
.user-content ul dl,
.user-content ol ul,
.user-content ol ol,
.user-content ol dl,
.user-content dl ul,
.user-content dl ol,
.user-content dl dl {
    margin-top: 0;
    margin-bottom: 0;
}

/* 2 deep unordered lists use a circle */
.user-content ol ul,
.user-content ul ul {
    list-style-type: circle;
}

/* 3 deep (or more) unordered lists use a square */
.user-content ol ol ul,
.user-content ol ul ul,
.user-content ul ol ul,
.user-content ul ul ul {
    list-style-type: square;
}

/* Table Styles -------------------------------------------------------- */

.user-content table {
    margin: 0 0 24px 0;
    width: 100% !important;
    border-spacing: 2px;
    border-collapse: separate;
}

.user-content caption {
    font-size: smaller;
}

.user-content tr {
    vertical-align: middle;
}

.user-content tbody {
    vertical-align: middle;
}

.user-content thead {
    vertical-align: middle;
}

.user-content tfoot {
    vertical-align: middle;
}

.user-content td {
    vertical-align: inherit;
    text-align: inherit;
    padding: 2px 4px;
}

.user-content th {
    vertical-align: inherit;
    text-align: inherit;
    font-weight: 800;
    padding: 2px 4px;
    background-color: #666;
    color: #fff;
}

.user-content tr.even td {
    background-color: #ccc;
}

/* ---------------------------------------------------------------------
   Responsive Video Player
------------------------------------------------------------------------ */
.videoPlayer {
    position: relative;
    padding-bottom: 56.25%; /* for 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.videoPlayer iframe,
.videoPlayer object,
.videoPlayer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.user-content .videoPlayer {
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------
   POST LIKE STYLES
------------------------------------------------------------------------ */
[data-icon]:before {
    content: attr(data-icon);
}

[data-icon]:before,
.icon-gear:before,
.icon-like:before,
.icon-unlike:before {
    display: inline-block;
    font-family: "like_font";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
             font-smoothing: antialiased;
}

.icon-like:before {
    content: "\f105";
}

.icon-unlike:before {
    content: "\f106";
}

.icon-gear:before {
    content: "\f104";
    -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

a.jm-post-like {
    font-weight: normal;
    display: inline-block;
    width: auto;
    transition: all 0.3s ease-out 0.2s;
}

a.jm-post-like.liked {
    color: #da1b1b;
}

a.jm-post-like:hover,
a.jm-post-like:active,
a.jm-post-like:focus,
a.liked:hover,
a.liked:active,
a.liked:focus {
    color: #000;
}

/* ---------------------------------------------------------------------
   Loader
---------------------------------------------------------------------- */
.loader,
.loader:before,
.loader:after {
    background: rgba(0, 0, 0, 0.2);
    -webkit-animation: loader 1s infinite ease-in-out;
    animation: loader 1s infinite ease-in-out;
    width: 3px;
    height: 10px;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -6px;
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
}

.loader {
    text-indent: -999999px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    font-size: 1rem;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
}

.loader:after {
    left: 6px;
}

@-webkit-keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 0 rgba(0, 0, 0, 0.2);
        height: 10px;
    }
    40% {
        box-shadow: 0 -5px rgba(0, 0, 0, 0.2);
        height: 16px;
    }
}

@keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 0 rgba(0, 0, 0, 0.2);
        height: 10px;
    }
    40% {
        box-shadow: 0 -5px rgba(0, 0, 0, 0.2);
        height: 16px;
    }
}


